<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hello leap</title>
<link href="/static/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h3 id="head">hello leap! </h3>
	本示例工程说明:<br/>
	本示例的pom.xml中包含了多个依赖,各个依赖的用途在pom.xml中有注释.
	
	<a href="/user/index">开始查看使用示例</a>
	<a href="/chart/index">基本饼图</a>
	<a href="/chart/separate">分离饼图</a>
	<a href="/chart/pie3D">3D饼图</a>
	<a href="/chart/muchPie">多饼图</a>
	<a href="/chart/muchPie3D">3D多饼图</a>
	<a href="/chart/bar">基本柱状图</a>
	<a href="/chart/barannotion">加强版柱状图</a>
	<a href="/chart/bar3D">3D柱状图</a>
	<a href="/chart/barmuch">多系列柱状图</a>
	<a href="/chart/bar3Dmuch">多系列3D柱状图</a>
	<a href="/chart/area">基本区域图</a>
	<a href="/chart/areamuch">多分类区域图</a>
	<a href="/chart/line">基本折线图</a>
	<a href="/chart/linemuch">多条折线图</a>
	<a href="/chart/lineXY">折线图</a>
	<a href="/chart/line3D">3D折线图</a>
	<a href="/chart/lineTime">基本时序图</a>
	<a href="/chart/unionLineBar">联合折线图和柱形图</a>
	<a href="/chart/demoPie">饼图示例</a>
	<a href="/chart/demoBar">柱状图示例</a>
	<a href="/chart/demoLine">折线图示例</a>
	<a href="/chart/demoLineTime">时序图示例</a>
	<a href="/chart/demoArea">区域图示例（待办）</a>
	<a href="/chart/timeLine">时序图2（待办）</a>
	<a href="/chart/demoUnion">组合图</a>
	
	
	
</body>
<script type="text/javascript" src="/static/js/index.js"></script>
</html>