<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hello leap</title>
<link href="/static/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h3 id="head">hello leap! </h3>
	本示例工程说明:<br/>
	本示例的pom.xml中包含了多个依赖,各个依赖的用途在pom.xml中有注释.
	
	<a href="/user/index">开始查看使用示例</a>
	<a href="/chart/index">基本饼图</a>
	<a href="/chart/separate">分离饼图</a>
	<a href="/chart/pie3D">3D饼图</a>
	<a href="/chart/muchPie">多饼图</a>
	<a href="/chart/muchPie3D">3D多饼图</a>
	<a href="/chart/bar">基本柱状图</a>
	<a href="/chart/barannotion">加强版柱状图</a>
	<a href="/chart/bar3D">3D柱状图</a>
	<a href="/chart/barmuch">多系列柱状图</a>
	<a href="/chart/bar3Dmuch">多系列3D柱状图</a>
	
</body>
<script type="text/javascript" src="/static/js/index.js"></script>
</html>